@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-medium antialiased;
  }

  ::selection {
    @apply text-white bg-primary;
  }

  [tabindex] {
    @apply ring-[none!important];
  }
}

.nextra-code-block pre {
  @apply border dark:border-neutral-700;
  background-color: theme(colors.neutral.50) !important;
  .dark & {
    background-color: #141414 !important;
  }
}

.nextra-button {
  background-color: #00000010 !important;
}
