@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-medium antialiased;
  }

  ::selection {
    @apply text-white bg-primary;
  }

  button[role='tab'] {
    box-shadow: none !important;
  }
}

@layer components {
  .demo {
    @apply relative border border-[--border-color] rounded-xl min-h-40 p-5 overflow-hidden;
    --border-color: rgba(229, 229, 229, 0.7);
    .dark & {
      --border-color: hsl(var(--nextra-primary-hue) var(--nextra-primary-saturation) 94%/0.1);
    }
    .wrapper {
      @apply relative border border-[--border-color] rounded-lg p-3.5;
    }
    button,
    a {
      @apply inline-flex px-3 py-2 font-semibold text-sm rounded-md transition-colors;
      &.primary {
        @apply bg-slate-900 text-white hover:[--tw-bg-opacity:0.95];
        .dark & {
          @apply bg-slate-100 text-black hover:[--tw-bg-opacity:0.9];
        }
      }
      &.outline {
        @apply border border-[--border-color] dark:hover:bg-slate-600/5 hover:bg-slate-300/5;
      }
    }
  }
  input[type='text'] {
    @apply block w-full appearance-none rounded-lg px-3 py-2 transition-colors text-base leading-tight md:text-sm bg-black/[.05] dark:bg-gray-50/10 focus:bg-white dark:focus:bg-transparent placeholder:text-gray-500 dark:placeholder:text-gray-400 contrast-more:border contrast-more:border-current;
  }
}

.nextra-code-block pre {
  @apply border dark:border-neutral-700;
  background-color: theme(colors.neutral.50) !important;
  .dark & {
    background-color: #141414 !important;
  }
}

.nextra-button {
  background-color: #00000010 !important;
}
